
<div class="col-12 col-md-4 col-xl-3 p-0 login-info mx-auto">
      <div class="login-block">
        <div class="login-container">
          <div class="logo-banner">
            <h1 class="py-0">e-Shop </h1><br>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="formLogin mx-auto py-4">
            <div class="row row-cols-1 py-4">

              <mat-form-field class="col py-3 d-block">
                <input class="inputsLogin" matInput placeholder="Correo electrónico" formControlName="email"
                  autocomplete="email" required autocomplete="off" (focus)="error = ''">
                <mat-error *ngIf="isFieldInvalid('email')">
                  Por favor ingrese un correo electrónico
                </mat-error>
                <mat-error *ngIf="isEmailInvalid('email')">
                  Por favor ingrese un correo válido
                </mat-error>

              </mat-form-field> <br>
              <div class="col py-3 d-block">
                <mat-error [hidden]="!error || loading">
                  Usuario o contraseña incorrectos.
                </mat-error>
              </div>
            </div>
            <br>
            <button type="submit" class="btn-custom mx-3" [disabled]="loginForm.invalid || loading">Resetear Contraseña
              <span *ngIf="loading && !error && !loginForm.invalid"
                class="spinner-border spinner-border-sm mr-1"></span>
            </button>
          </form>
          <div class="text-center py-2">
            <div id="emailHelp" class="form-text px-3">
              <span>Volver a conectarse? <a class="redirect" routerLink="/sign-in">Iniciar Sesión</a></span>
            </div>
            <p class="small">Angular {{ ngVersion.full }} | Vers. {{vers}}</p>
          </div>
        </div>
      </div>
    </div>
