<div class="wrapper">
  <ng-container *ngIf="usuario; else login">

    <ng-sidebar-container>
      <!-- A sidebar -->
      <ng-sidebar [(opened)]="menuOpened" [(mode)]="menuMode" [(autoCollapseWidth)]="menuCollapseWidth"
        [(sidebarClass)]="menuSidebarClass" [(showBackdrop)]="menuShowBackdrop"
        [(closeOnClickOutside)]="menuCloseOnClickOutside" [(keyClose)]="menuKeyClose" [class.bkgShadow]="menuOpened">
        <div
          class="Adminstyle menu-sidenav text-light"
          *ngIf="usuario">
          <div class="sidebarHeader">
            <a class="logo-banner">
              <img src="assets/img/logos/e-magik-logo.svg" alt="Accion Point" />
            </a>
            <a class="iconArrow" (click)="closeMenu()" [ngClass]="{'rotateArrow': menuOpened}">
              <i class="icon ico-chevron-right"></i>
            </a>
          </div>
          <nav class="navbar">
            <!-- <h5>{{usuario?.email}}</h5> -->
            <div class="navbar-nav">
              <!-- <p class="px-3 py-4">Hola,
                <strong>
                  {{usuario?.uid}}!
                </strong>
              </p> -->
              <ul>
                <!-- <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/"
                    [routerLinkActiveOptions]="{ exact: true }" (click)="isMobile && closeMenu()">
                    <i class="icon ico-chart-bars"></i> Dashboard</a>
                </li> -->
                <!-- <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/backend/administrador"
                    (click)="isMobile && closeMenu()">
                    Administrador
                  </a>
                </li> -->
                <!-- <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/products"
                    (click)="isMobile && closeMenu()">
                    Productos
                  </a>
                </li> -->
                <li><a class="nav-item nav-link" routerLinkActive="active"
                    routerLink="/e-admin/productos" (click)="isMobile && closeMenu()">
                     <i class="icon ico-store"></i> Tienda
                  </a>
                </li>
                <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/e-admin/cart"
                        (click)="isMobile && closeMenu()"><i class="icon ico-cart"></i> Carro de Compras</a></li>
                <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/backend/set-productos"
                      (click)="isMobile && closeMenu()"><i class="icon ico-dolly"></i> Configuración de Productos</a></li>
                <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/backend/historial-pedidos"
                      (click)="isMobile && closeMenu()"><i class="icon ico-clock"></i> Historial Pedidos</a></li>
                <li>
                  <a class="nav-item nav-link" routerLinkActive="active" routerLink="login" (click)="logout()"
                    (click)="isMobile && closeMenu()">Logout</a>
                </li>
              </ul>

            </div>
          </nav>
        </div>
      </ng-sidebar>
      <!-- Page content -->
      <div ng-sidebar-content class="main-wrapper">
        <ng-container *ngIf="usuario !== null">
          <div class="container-header">
            <div class="row">
              <div class="col-2 p-0 mw-60">
                <div class="iconMenu mx-3">
                  <a (click)="toggleSidebar()">
                    <span class="icon-standard">
                      <i class="icon ico-bars"></i>
                    </span>
                  </a>
                </div>
              </div>
              <div class="col-3 px-0">
                <div class="px-1">
                  <form [formGroup]="searchBoxCuit" class="px-0">
                    <input formControlName="searchTermCuit" #searchCuit type="search"
                      (input)="onFind($event.target.value)" placeholder="Buscar por numero de CUIT" />
                  </form>
                </div>
              </div>
              <div class="col p-0 menu-right">
                <div class="iconAlarm ml-3">
                  <a>
                    <!-- <span class="icon ico-circle-fill"></span> -->
                    <span class="icon-standard" routerLinkActive="active" routerLink="e-admin/cart">
                      <i class="icon ico-cart"></i>
                    </span>
                  </a>
                </div>
                <div class="profileBox mx-3">
                  <button class="button-profile" id="userLog" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="circle-profile">
                      <ng-template #foto>
                        <img src="assets/images/users/grogu-sm.png" />
                      </ng-template>
                      <ng-container *ngIf="usuario?.photoURL as image; else foto">
                        <img src="{{ image }}" alt="imagen">
                      </ng-container>
                    </span>
                    <!-- <ng-container *ngIf="!isMobile"> -->
                    <span class="pr-2 text-profile d-none d-md-inline-block">{{usuario.email}}</span>
                    <!-- </ng-container> -->
                  </button>
                  <ul aria-labelledby="userLog" class="userLog shadow-sm dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" routerLinkActive="active" routerLink="/auth/perfil">
                        <i class="icon ico-user-robot"></i>
                        <span translate>Perfil</span>
                      </a>
                    </li>
                    <li>
                      <button class="dropdown-item" (click)="logout()">
                        <i class="icon ico-logout"></i>
                        <span translate>Logout</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="container-main px-1">
          <div class="container-fluid">
            <router-outlet></router-outlet>
          </div>
          <!-- <div class="bg-dark small text-center text-light foot-legend">
            <p><i class="icon ico-ap-logo"></i> {{title}} | vers: {{vers}} |
              Hecho con <i class="icon ico-brain-side"></i> con Angular
              {{ngVersion.full}}
            </p>
          </div> -->
        </div>
      </div>
    </ng-sidebar-container>
  </ng-container>
  <ng-template #login>

    <router-outlet></router-outlet>
  </ng-template>
</div>
