  <div class="header">
    <nav class="navbar navbar-expand-lg">
      <div class="row px-3 mx-0">
        <div class="col px-0">
          <h1 class="navbar-marca dlv-logo px-0">
            <a class="" href="#main">
              <strong>dlv+</strong><span>design</span>
            </a>
          </h1>
        </div>
        <div class="col-2 col-lg-10 px-0 mx-0">
          <span class="menu-btn d-block d-lg-none text-right ml-auto mr-0">
            <a>
              <i class="icon ico-bars" onclick="openNav()"></i>
            </a>
          </span>
          <navbar-app></navbar-app>
        </div>
      </div>
    </nav>
  </div>
