
<h2><i class="icon ico-cart"></i> Carro de compras</h2>

  <a class="nav-item nav-link" routerLinkActive="active"
  routerLink="/e-admin/productos">
 <i class="icon ico-chevron-left"></i> volver a Productos
</a>
<div class="row" *ngIf="pedido.productos">
  <div *ngFor="let producto of pedido.productos" class="min-card col col-md-6 col-lg-4 col-xl-3 py-3 mx-auto">
    <app-item-cart [productoPedido]="producto"></app-item-cart>
  </div>
</div>
<div class="container">

  <div class="row pedido-footer">
    <div class="col">
      Cantidad: {{cantidad}}
    </div>
    <div class="col">
      Total ${{total}}
    </div>
    <div class="col-12 col-md-3">
      <button class="btn btn-primary col-12" (click)="hacerPedido()">Pedir</button>
    </div>
  </div>
</div>
