<div class="shadow-mt shadow-brd">
  <div class="row">
    <a class="imga col">
      <img class="img-fluid" [src]="productoPedido.producto.picture">
    </a>
    <div class="col">
      <h2>{{productoPedido.producto.name}}</h2>

      <p class="eq-p text-truncate small prices">
        <span class="small old">
          {{productoPedido.producto.reducedPrice | currency}}
        </span>
        <!-- <br /> -->
        <strong class="new">
          {{productoPedido.producto.price | currency}}
        </strong>
      </p>
      <p class="px-2">
        <span class="col">
          Cant.: {{productoPedido.cantidad}}
        </span>
        <span class="col btn-controls" *ngIf="buttons">
          <button class="btn-circle plus" (click)="addCart()">+</button>
          <button class="btn-circle minus" (click)="removeCart()">-</button>
        </span>
      </p>
    <!-- <p class="px-2 text-right">
      <button class="btn btn-sm btn-primary">Detalle</button>
    </p> -->

    </div>
  </div>
</div>
