<!-- <div class="login-circuit">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col illustration-block">foto</div>
    <div class="col information-block">texto</div>
  </div>
</div> -->
<!-- <div class="container py-4">
  <div class="card">
    <h4 class="card-header">Angular {{ ngVersion.full }}</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">email</label>
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">email is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
      <div class="hide" styles="position: absolute;border: 1px solid red;bottom: 0; left: 0;">
        <a (click)="prueba('ddelavega@accionpoint.com','123456');">DLV | role: Admin</a><br>
        <a (click)="prueba('mossola@accionpoint.com','123456');">Florencia | role: Admin</a><br>
        <a (click)="prueba('sdamonte@accionpoint.com','123456');">SDamonte | role: User</a><br>
        <br>
        <br>
        <a (click)="prueba('superadmin@empresatest.com','123456');">SuperAdmin Org | role: Organizacion</a><br>
        <a (click)="prueba('jlopez@empresatest.com','123456');">J Lopez Org | role: Empleado</a><br>
      </div>
    </div>
  </div>
</div> -->
<div class="userAuthCircuit">
  <div class="row">
    <div class="col login-illustration d-none d-md-block alert-info">
      <!-- <div class="" styles="position: absolute;border: 1px solid red;bottom: 0; left: 0;">
        <a (click)="prueba('ddelavega@accionpoint.com','123456');">DLV | role: Admin</a><br>
        <a (click)="prueba('mossola@accionpoint.com','123456');">Florencia | role: Admin</a><br>
        <a (click)="prueba('sdamonte@accionpoint.com','123456');">SDamonte | role: User</a><br>
        <br>
        <br>
        <a (click)="prueba('superadmin@empresatest.com','123456');">SuperAdmin Org | role: Organizacion</a><br>
        <a (click)="prueba('jlopez@empresatest.com','123456');">J Lopez Org | role: Empleado</a><br>
      </div>
      <hr class="my-4">
      <h2>
        implementación iconografía: <br>
        <br>
        <i class="icon ico-ap-logo"></i>
        <i class="icon ico-angular"></i>
        <i class="icon ico-gitlab"></i>
        <i class="icon ico-brain-side"></i>
      </h2>
      <p>(Para probar la aplicación en pantalla con el traductor y que no haya malfuncionamiento de la misma)</p>
      <hr class="my-4">
      <p>Angular {{ ngVersion.full }} | Vers. {{vers}}</p> -->
      <div class="illustration-block">
        <img class="mx-auto" src="assets/img/illustrations/ionic-angular-capacitor.png" alt="inicio login">
      </div>
    </div>
    <div class="col-12 col-md-4 col-xl-3 p-0 login-info mx-auto alert-warning">
      <!-- <h2 class="py-3">Login</h2> -->
      <div class="login-block">
        <div class="login-container">

          <img class="logo-banner" src="assets/img/logos/logo-ap-b.svg" alt="Accion Point" />

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="formLogin mx-auto py-4">
            <div class="row row-cols-1 py-4">

              <mat-form-field class="col py-3 d-block">
                <input class="inputsLogin" matInput placeholder="Correo electrónico" formControlName="email"
                  autocomplete="email" required autocomplete="off" (focus)="error = ''">
                <mat-error *ngIf="isFieldInvalid('email')">
                  Por favor ingrese un correo electrónico
                </mat-error>
                <mat-error *ngIf="isEmailInvalid('email')">
                  Por favor ingrese un correo válido
                </mat-error>

              </mat-form-field> <br>
              <mat-form-field class="col py-3 d-block">
                <input class="inputsLogin" matInput type="password" placeholder="Contraseña" formControlName="password"
                  autocomplete="password" [type]="hide ? 'password' : 'text'" required autocomplete="off"
                  (focus)="error = ''">
                <i class="input-icon icon ico-{{ hide ? 'eye' : 'eye-shut' }}" *ngIf="loginForm.controls.password.value"
                  (click)="hide = !hide"></i>
                <mat-error *ngIf="isFieldInvalid('password')">
                  Por favor ingrese una contraseña
                </mat-error>
              </mat-form-field>
              <div class="col py-3 d-block">
                <mat-error [hidden]="!error || loading">
                  Usuario o contraseña incorrectos.
                </mat-error>
              </div>
              <!-- <div class="col py-3 d-block">
                <mat-slide-toggle color="primary" formControlName="recordar" checked="false">Recordar mis datos
                </mat-slide-toggle>
              </div> -->
            </div>
            <br>
            <button type="submit" class="btn-custom mx-3" [disabled]="loginForm.invalid || loading">Login {{texting}}
              <span *ngIf="loading && !error && !loginForm.invalid"
                class="spinner-border spinner-border-sm mr-1"></span>
            </button>

          </form>
          <div class="text-center py-2">
            <p class="py-3">
              <a class="recovery-link" routerLink="/recupero">Olvidaste tus datos?</a>
            </p>
            <p class="small">Angular {{ ngVersion.full }} | Vers. {{vers}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
