<div class="container">
  <h2>Datos de Producto</h2>
  <button class="btn btn-warning d-inline" (click)="nuevoProducto()">Agregar +</button>
<ng-container *ngIf="isVisible">

  <form [formGroup]="productFormGroup" (ngSubmit)="isEdit ? editarProductoDb() : guardarProducto()" class="row mx-auto">
    <span (click)="isVisible = false; resetForm()"><i class="icon ico-times"></i></span>
    <div class="col-5">
      <div class="form-group">
        <label for="name" class="label">Nombre</label>
        <input class="form-control"
        type="text"
        formControlName="name" id="name">
        <p class="text-danger" *ngIf="name.invalid && !name.pristine">Name is required.</p>
      </div>
      <div class="form-group">
        <label for="price" class="label">Precio</label>
        <input class="form-control"
        type="number"
        formControlName="price" id="price">
        <p class="text-danger" *ngIf="price.invalid && !price.pristine">Name is required.</p>
      </div>
      <div class="form-group">
        <label for="reducedPrice" class="label">Precio reducido</label>
        <input class="form-control"
        type="number"
        formControlName="reducedPrice" id="reducedPrice">
        <p class="text-danger" *ngIf="reducedPrice.invalid && !reducedPrice.pristine">Name is required.</p>
      </div>

      <label for="foto" class="label">Foto <i class="icon ico-camera"></i></label>
        <input class="d-none" type="file" accept="image/*" (change)="newImageLoad($event);"
         id="foto">
        <!-- <p class="text-danger" *ngIf="foto.invalid && !foto.pristine">Name is required.</p> -->
      <!-- </div> -->
      <!-- {{producto.picture}} -
      {{newProducto.foto}} -
      [{{newImage}}] x
      ({{newFile}}) -->
      <img *ngIf="isEdit && !newProducto.foto ? producto.picture : newProducto.foto" [src]="isEdit && !newProducto.foto ? producto.picture : newProducto.foto" alt="Imagen">
      {{isEdit && !newProducto.foto ? 'producto.picture' : 'newProducto.foto'}}


      <ng-container *ngIf="!isEdit; else editar">
        <button class="btn btn-{{productFormGroup.valid ? 'primary': 'secondary'}} d-inline" type="submit" [disabled]="!productFormGroup.valid">Guardar</button>
      </ng-container>
      <ng-template #editar>
        <button class="btn btn-{{productFormGroup.valid ? 'primary': 'secondary'}} d-inline" type="submit" [disabled]="!productFormGroup.valid">Editar</button>
      </ng-template>
    </div>


  </form>
</ng-container>
<ul *ngIf="productos">

  <li *ngFor="let producto of productos">
    <span> <img  style="max-height: 100px;" *ngIf="producto.picture" [src]="producto.picture" alt="imagen">{{producto.name}}</span>
    <span (click)="editarProducto(producto)"><i class="icon ico-pen"></i></span>
    <span (click)="borrarProducto(producto)"><i class="icon ico-trash text-danger"></i></span>
  </li>
</ul>
</div>
