<!--
<div class="container-fluid container-xl profile-gen" id="profile-gen">
  <div class="row row-cols-1 row-cols-md-2">

    <div class="col order-md-2 profile-pic p-2 p-md-0">

      <img class="img-fluid pic-gray" src="../../../assets/images/users/grogu.png" alt="Profile image">
    </div>
    <div class="col order-md-1 align-texts my-2 my-md-0 bg-number-01">
      <h2 class="b-right">Reset Password</h2>
      <p>Please enter your email address to request a password reset.</p>
      <form class="container">
        <div class="d-block ">
          <label for="email" class="form-label d-block p-3">Email address
            <input type="email" class="form-control" id="email" placeholder="Email Address" aria-describedby="emailHelp" #passwordResetEmail required>
          </label>
        </div>
        <div class="d-block p-3">
          <a class="btn-custom-rounded" (click)="resetPass(passwordResetEmail.value);">
            Reset Password
          </a>
        </div>
        <div id="emailHelp" class="form-text px-3">

            <span>Go back to ? <a class="redirect" routerLink="/sign-in">Log In</a></span>
        </div>
      </form>

    </div>
  </div>
</div> -->
<div class="row row-cols-1 row-cols-md-2">

      <div class="col order-md-2 profile-pic p-2 p-md-0">

        <img class="img-fluid pic-gray" src="../../../assets/images/users/grogu.png" alt="Profile image">
        <!-- <img [ngClass]="{'img-fluid pic-gray': usuario.photoURL}" [src]="(usuario.photoURL) ? usuario.photoURL : '/assets/images/users/grogu.png'" alt="Profile image"> -->
      </div>
      <div class="col order-md-1 align-texts my-2 my-md-0 bg-number-01">
        <h2 class="b-right">Reset </h2>
        <form class="container">
          <div class="d-block">
            <label for="userName" class="form-label d-block p-3">Email address
              <input type="email" class="form-control" id="userName" aria-describedby="emailHelp" #passwordResetEmail required>
            </label>
            <div id="emailHelp" class="form-text px-3">We'll never share your email with anyone else.</div>
          </div>
          <div class="d-block p-3">
            <a class="btn-custom-rounded"(click)="resetPass(passwordResetEmail.value);">
              Reset Password
            </a>
          </div>
          <div id="emailHelp" class="form-text px-3">
            <span>Go back to ? <a class="redirect" routerLink="/sign-in">Log In</a></span>
          </div>
        </form>

      </div>
    </div>

